<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @*@Styles.Render("~/Content/css")*@
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="//use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link href="~/Content/css/ButtonStyle.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Content/Slider.css" rel="stylesheet" />
    <link href="~/Content/css/MainLayout.css" rel="stylesheet" />




    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="logo">
                    <h1><a href="#">Online <span>Shopping Store</span></a></h1>
                    <p>My Shop</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="account">
                    <ul>
                        <li>
                            <div class="hidden-xs">
                                <h4><a>Call</a></h4>
                                <p>018##-######</p>
                            </div>

                            <div class="visible-xs">

                                <p>018##-######</p>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            

            <div class="col-md-12">

                @{
                    var viewPath = ((RazorView)ViewContext.View).ViewPath;

                    var viewFileName = viewPath.Substring(viewPath.LastIndexOf('/'));
                    var viewName = Path.GetFileNameWithoutExtension(viewFileName);
                    string controllerName = ViewContext.RouteData.Values["controller"].ToString();


                }
                @if (viewName == "Index" && controllerName == "Home")
                {

                    <nav class="navbar navbar-expand-md navbar-light bg-light">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav mr-auto">
                                <li class="nav-item active">
                                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Location</a>
                                </li>
                                
                            </ul>
                            <ul class="navbar-nav">
                                @if (User.Identity.IsAuthenticated != true)
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Login","Account")">Login</a>
                                    </li>
}
                                else
                                {
                                    <li class="nav-item">
                                        <a class="nav-link" href="@Url.Action("Index","BasketLine")"><i class="fa fa-shopping-cart"></i></a>
                                    </li>
                                }

                            </ul>
                        </div>
                    </nav>

                }
               


                </div>
                

            </div>


                        @RenderBody()

                        <hr />
                        <footer>
                            <div class="row">
                                <div class="col-md-12 copyright">

                                    <div class="col-md-6 col-sm-6 copyright-left">
                                        <p>&copy; @DateTime.Now.Year - OnlineShopingStore. All right reserved.</p>
                                    </div>

                                    <div class="col-md-6 col-sm-6 copyright-right">

                                        <ul class="list-unstyled list-social">
                                            <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </footer>
                </div>




            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)


            <script>


                $("#searchProducts").submit(function (event) {

                    event.preventDefault();
                    var form = $(this);
                    $("#products").load(form.attr("action"), form.serialize());
                    $("#products").focus();

                }
                );

                $("#removeCart").submit(function (event) {

                    event.preventDefault();
                    var form = $(this);
                    $("#updatecart").load(form.attr("action"));

                }
                );

                $("#updateCart").submit(function (event) {

                    event.preventDefault();
                    var form = $(this).closest('form');
                    var data = $(this).closest('form').serialize();
                    $("#updatecart").load(form.attr("action"), data);

                }
                );

            </script>
            <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

</body>

</html>
